.create-container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 5px;
    padding: 5% !important;
    display: flex;
    justify-content: space-between !important;
    align-items: end;
    flex-direction: row;
    bottom: 0%;
}

.tuning-fork {
   width: calc(25% - 1rem);
   border: 2px white solid;
   padding: 1rem;
   margin-right: 1rem;
}

.create-container .sprite-container {
    margin-top: 0;
    padding: 0;
    width: calc(25% - 1rem);
    display: block;
    margin-right: 1rem;
}

.create-container .chord-machine {
    padding: 1rem;
    margin-right: 1rem;
}

.create-container .chord-machine button {
    margin-right: .5rem;
}

.sprite {
    margin-top: 5rem;
 
}

.bowl {
    width: calc(50% - 1rem);
    border: 2px white solid;
    padding: 1rem;
    margin-right: 1rem;
}

#create-desc{
     max-width: 20rem;
     color: white;
     
 }

button {
    background-color: #8FADBF ! important;
    border: 1px solid #42708C ! important;
    border-radius: 5px;
    margin-top: 5px;
    margin: 0 auto;

}