

.login-container {
    margin-bottom: 32%;
}

p {
    color: #ffffff;
    
}

.p-2 {
margin-left: -1%;
}


.email {
    font-size: 22px;
    color: #ffffff;
}

.login {
color: white;
text-decoration: none;
}

.login:hover {
    color: white;
}